@model IEnumerable<DAL.tblInvertory>
@{
    ViewData["Title"] = "Home Page";
}


@{ ViewData["Title"] = "Index"; }
@{int i = 0;}




<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="container">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Inventory</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                            <li class="breadcrumb-item active">Invertory List</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->

        <section class="content">

            
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <a  class="btn btn-primary" asp-controller="Home" asp-action="Create">
                                Create New Invertory
                            </a>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>

                                        <th>Category Name</th>
                                        <th>Computer Type</th>
                                        <th>Brand</th>
                                        <th>Processor</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var n in Model)
                                    {

                        <tr>
                            <td>@n.tblCategory.CategoryName</td>
                            <td>$@n.ComputerType</td>
                            <td>@n.Brand</td>
                            <td>@n.Processor</td>

                            <td class="project-actions">

                                <a class="btn btn-info btn-sm" asp-action="" asp-controller="Transcation" asp-route-Id="@n.Id">
                                    <i class="fas fa-eye">
                                    </i>
                                    View
                                </a>
                                <a class="btn btn-info btn-sm" asp-action="Home" asp-controller="Edit" asp-route-Id="@n.Id">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Edit
                                </a>

                                <a class="btn btn-danger btn-sm" asp-action="" asp-controller="Transcation" asp-route-Id="@n.Id" onclick="return confirm('Are you sure you want to delete user : @n.Id')">
                                    <i class="fas fa-trash">
                                    </i>
                                    Delete
                                </a>
                            </td>
                        </tr>}
                                </tbody>

                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

        </section>
        <!-- /.content -->
    </div>
</div>
<!-- /.content-wrapper -->





@section scripts
{
    <script>$(function () {
            $("#example1").DataTable();
           
        });</script>

    <script src="~/plugins/select2/js/select2.full.min.js"></script>
    <script>$('.select2').select2();
        $('.select2').select2();
    </script>

    



    
}
